body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e0f7fa; /* Light background for a fresh look */
  color: #333; /* Dark text color for contrast */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Full viewport height */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white for blur effect */
}



.button-container {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Spacing between buttons */
}

button {
  padding: 10px 20px; /* Reduced padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Reduced font size */
  color: white; 
  transition: background 0.3s, transform 0.3s; 
}

.button-donor {
  background-color: #ff6b6b; /* Light Red */
}

.button-recipient {
  background-color: #ff4c4c; /* Medium Red */
}

.button-admin {
  background-color: #ff1a1a; /* Dark Red */
}

button:hover {
  opacity: 0.8; /* Slightly fade on hover */
}

h3 {
  margin-top: 20px;
  font-size: 1.5rem; /* Font size for selected user type */
  color: #6A1B9A; /* Slightly lighter violet for selected user type */
}

/* Footer styling */
.login-footer {
  margin-top: 50px; /* Adjusted space above the footer */
  padding: 20px; /* Add padding for better spacing */
  background-color: #fef2f2; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center; /* Center align the text */
  font-size: 16px; /* Font size */
  width: 100%; /* Make footer take full width of the container */
  position: relative; /* Ensure proper positioning */
}

.login-footer a {
  color: #ef4444; /* Red color for links */
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline; /* Underline on hover */
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}